<div class="col-md-6">
  <div class="highlight-block">
    <h2>Reset your Password</h2>

    <%= simple_form_for @password_reset.user.identity, url: password_reset_path(@password_reset) do |f| %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, "Reset Password", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
