<div class="main-content--landing">
  <h2>Do-It-Yourself Local Voter Guides</h2>
  <p>
    Your vote is powerful. But these ballots can be confusing! That's where a voter guide can help out. Find a voter guide for your area, or create your own guide that other people can use. It's easy.
  </p>

  <h2>Make a Voter Guide</h2>
  <p>
    <%= link_to "Create Guide", "#", class: 'btn btn-success' %>
  </p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_ecN8yT_9kQ"></iframe>
  </div>
</div>
