<h2>Voter Guides</h2>

<% if @voter_guides.empty? %>
  <p>No voter guides found for <%= params[:search_state] %></p>
<% else %>
  <ul>
    <% @voter_guides.each do |voter_guide| %>
      <li>
        <%= render 'list_info', voter_guide: voter_guide %>
      </li>
    <% end %>
  </ul>
  <%= paginate @voter_guides %>
<% end %>
