body {
  background: #15293D;
}

.localballot--header {
  background: #222;
  border-top: solid #000 4px;
  border-bottom: solid #000 4px;
  padding-top: 15px;
  background: linear-gradient(#222, #283c49 );
      background: #000 none repeat scroll 0 0;
 

    height: 13px;
}

.localballot--header--top_stripes {
  background: #000;
  height: 5px;
  border-bottom: 3px solid #fffb9c;
}

.localballot--header--top_stripes1 {
  background: #000;
  height: 5px;

}

.localballot--header--bottom_stripes {
  background: #000;
  height: 13px;
  border-top: 6px solid #e1f7b4;
  border-bottom: 6px solid #8fb34a;

}

.navbar--logo {
  background-image: image-url("localballot/logo.png");

}

.navbar--log {
  line-height: 1.8em;
  font-size: 2em;
  color: white;
  font-family: 'Arvo';
    background-image: image-url("localballot/logo.png");
}


.navbar.theballot--navbar {
  margin-bottom: 0;
}

.theballot--navbar .navbar-nav > li > a {
  margin-top: -27px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-tick {
  background-size: cover;
  background-image: image-url("localballot/tik6.png");
  height: 45px;
  width: 40px;
  position: relative;
}

.user_nav--item {
  color: white;
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  line-height: 2.3em;
  background-color:#030303;
  border-radius:5px;
}

.lowlight-header {
  background-color: #a7957a;
  padding: 10px;
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  margin-top: 0px;
  margin-bottom: 0px;


  .form-group {
    margin-bottom: 0px;
  }
}

.lowlight-block {
  background-color: #ded7b5;
  font-family: 'Lato', 'Helvetica', 'sans-serif';
  padding: 20px;
  margin-bottom: 20px;
  a {
    color: #222;
  }

  h1 {
    margin-top: 0;
  }
  h4 {
    text-align: center;
    border-bottom: 2px solid #a7957a;
    margin-top: 0;
  }
}

.shadowed-block {
  box-shadow: 1px 1px 2px 2px #777;
}

.highlight-block {
  text-align: left;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;

  h2 {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    border-bottom: 3px solid #a7957a;
    font-weight: bold;
    margin-top: 0;
  }
}

.league-icon {
  background-image: image-url('localballot/league_default.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 6px;
}


@media (max-width: 768px) {
  .league-icon {
    height: 50px;
    width: 50px;
  }

}

.offset-list {
  margin-left: 10px;
}

.voterguide-summary {
  font-family: 'Lato', 'Helvetica', 'sans-serif';

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: black;
  }
}

.btn-theballot {
  background-color: #b29f81;
  color: #523f23 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  box-shadow: inset 2px 1px 0px 2px rgba(50, 50, 50, 0.5);
}

.partner-logo {
  width: 150px;
  margin: 20px 30px;
}


.leaguelogo {
  background-size: cover;
  background-image: image-url("localballot/LeagueLogo.png");
    border-radius: 10px;
    height: 75px;
    margin-top: -34px;
    position: relative;
    width: 145px;
}


.lowlight-header1 {
  background-size: cover;
  background-image: image-url("localballot/us_map.jpg");

}