#searchable_map {
  margin: 0 auto;
}

@media (max-width: 768px) {
  #searchable_map {
    height: 200px;
  }

  #create_guide_section {
    display: flex;
    flex-flow: column;
  }

  #create_guide_cta {
    order: 1;
  }

  #create_guide_howto {
    order: 2;
  }

}
