body {
  background: image_url("theme/background.gif") repeat-x;
}

.logo {
  height: 67px;
  margin-top: 4px;
  overflow: hidden;
}

.main-content {
  margin-top:40px;
  background-color: #e9e0c2;
  border-radius: 10px 10px;
}

.main-content--landing {
  text-align: center;
}
