body {
  background: #152f49 image_url("theme/background.gif") repeat-x;
}

.navbar--logo {
  height: 67px;
  width: 196px;
  margin-top: 4px;
  overflow: hidden;
  display: block;
}

.navbar.theballot--navbar {
  border: 0px;
  background: transparent;
}

.theballot--navbar-toggle {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .theballot--navbar-collapse {
    background-color: #222;
  }

  #searchable_map {
    height: 200px;
  }
}

.main-content {
  margin-top:40px;
  background-color: #e9e0c2;
  border-radius: 10px 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.main-content--landing {
  text-align: center;
}

.navbar-nav > li > a.user_nav--item  {
  color: #fffa86;
  font-weight: bold;
}

.searchable_map_container {
  text-align: center;
}

#searchable_map {
  width: 80%;
  margin: 0 auto;
}
