<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <p>&nbsp;</p>
  <footer>To unsubscribe from these emails, follow this link: <%= link_to unsubscribe_url(@unsubscribe), unsubscribe_url(@unsubscribe) %></footer>
  </body>
</html>
