<h2><%= @account.name %></h2>
<ul>
  <% @account.authored_voter_guides.order(created_at: :desc).each do |vg| %>
    <li>
      <%= render 'voter_guides/core_info', voter_guide: vg %>
      <% if can? :edit, vg %>
        <%= link_to "Edit", edit_voter_guide_path(vg) %>
      <% end %>
    </li>
  <% end %>
</ul>
